---
date: 2015-02-15
tags: release
permalink: false
title: 'Can I haz member?'
img_url: awsm-c64-002.gif
links: 
  - url: http://csdb.dk/release/?id=136589
    title: c64 (csdb)
---

My second C64 program, serving as request to get accepted as a member on csdb.dk. You can see that it is still pretty much the same code that I used for the first demo.