---
order: 20
tags: release
permalink: false
title: 'Chantal No. 5'
img_url: chantalno5.png
links: 
  - url: https://csdb.dk/release/?id=182365
    title: c64 (csdb)
  - url: https://www.youtube.com/watch?v=FLYD0RKhrrg
    title: youtube
---

A fake release for the Deadline 2019 demo party under the handle Aal Schlagerfeld in coorporation with dalezy. I wasn't even drunk when I made this. Won 3rd place.