---
date: 2015-03-09
tags: release
permalink: false
title: Look mom I'm an Eagle!
img_url: awsm-canihazeagle.gif
links: 
  - url: http://csdb.dk/release/?id=136937
    title: c64 (csdb)
---

My first conversion of a screen from the Full Of Sinus demo. Minor tweaks on the image and a color wash effect on the logo and scroller to compensate for the lack of a custom font.