---
order: 11
tags: release
permalink: false
title: 'Fallen Stars by Mayday!'
img_url: fallen-stars.gif
links: 
  - url: http://csdb.dk/release/?id=151293
    title: c64 (csdb)
  - url: https://youtu.be/iyhvwfoHiTY
    title: youtube
---

"Fallen Stars" by Mayday! We scored 9th place at the X party 2016!
<a href="c64/mayday-fallen-stars/fallen-stars.png">Click here</a>
to see a composition of the PETSCII animation and watch the demo on youtube.