---
order: 22
tags: release
permalink: false
title: 'Ghost Town+ 64'
img_url: ghost-town.gif
links: 
  - url: http://www.kingsoft.de
    title: www.kingsoft.de
---

I released a greatly extended version of the game Ghost Town for the Plus/4 and, for the first time, Ghost Town for the C64. Please visit the dedicated site for the download.