---
order: 15
tags: release
permalink: false
title: 'Holge'
img_url: holge.png
links: 
  - url: https://csdb.dk/release/?id=168658
    title: c64 (csdb)
---

I got a new phone with a touchpen and created this C64 multicolor image. Haven't done any drawing in a while but I had fun with it.