---
date: 2018-07-22
tags: release
permalink: false
title: 'HPG Soft+Crack'
img_url: hpg.png
links: 
  - url: http://csdb.dk/release/?id=152048
    title: c64 (csdb)
  - url: https://www.youtube.com/watch?v=VYCTfVU-kqE
    title: youtube
---

What if HP Baxxter of SCOOTER was a cracker? We'll probably never know, but this cracktro may be the closest thing...