---
date: 2017-02-25
tags: release
permalink: false
title: Love In Time Of Laser Raptors'
img_url: litolr-16-64.gif
links: 
  - url: http://csdb.dk/release/?id=153935
    title: c64 (csdb)
  - url: /static/prg/love-in-time-of-laser-raptors-c16.prg
    title: C16
---

My pure PETSCII entry to the graphics compo at BCC#11. It scored 2nd place. Like many of my releases, this started out as something completely different. There is a C64 and a C16 version.