---
date: 2018-10-06
tags: release
permalink: false
title: 'Life On Mars'
img_url: lifeonmars.gif
links: 
  - url: https://csdb.dk/release/index.php?id=169621
    title: C64 (csdb)
  - url: ../static/prg/lifeonmars-c16.prg
    title: C16 & Plus/4
---

I was curious if I could convert my multicolor image "Moon" to PETSCII. It ended up on Mars. The Plus/4 version scored 3rd place at Deadline 2018.