---
order: 8
tags: release
permalink: false
title: 'Love'
img_url: awsm-love.png
links: 
  - url: http://csdb.dk/release/?id=145627
    title: c64 (csdb)
---

Scored 4th place at BCC#10 2016. Started a long time ago, but only finished in a rush just before the compo started. Some rasters in the border and top and border sprites to extend the lady to full beauty.