---
date: 2019-05-22
tags: release
permalink: false
title: 'Mayday! Wallpiece'
img_url: mayday-wallpiece.png
links: 
  - url: https://csdb.dk/release/?id=178133
    title: c64 (csdb)
---

PETSCII logo. I had no motive in mind when I started and just went with the flow.