---
date: 2016-02-27
tags: release
permalink: false
title: 'Moon'
img_url: awsm-moon.png
links: 
  - url: http://csdb.dk/release/?id=145624
    title: c64 (csdb)
---

Released at BCC#10 on Feb 27, 2016, this screen scored 3rd in the graphics compo. I made it almost a year ago and never finished it to the level I intended.