---
date: 2016-07-25
tags: release
permalink: false
title: 'Nemesis & Gradius Crack'
img_url: nemesis-mayday.png
links: 
  - url: http://csdb.dk/release/?id=149696
    title: c64 (csdb)
---

Mayday released a great Jewel Crack of Nemesis & Gradius. I fixed and updated the original title screen, which was converted from the ZX Spectrum game. My first contribution to a crack and my first hires screen.