---
date: 2015-03-12
tags: release
permalink: false
title: 'nyanPETSCII'
img_url: awsm-nyanpetscii.gif
links: 
  - url: http://csdb.dk/release/?id=136970
    title: c64 (csdb)
---

My first PETSCII logo. The main screen area is pure charset, but I opened the top and bottom borders and put some sprites in it to extend the image.