---
order: 5
tags: release
permalink: false
title: Positive Karma
img_url: awsm-positivekarma.gif
links: 
  - url: http://csdb.dk/release/?id=137368
    title: c64 (csdb)
---

A conversion of the original screen from the Full Of Sinus demo. The picture got more colorful to compensate for the lack of a DYCP scroller and the zoom effect. I fought hard to get the raster bars stable.