---
date: 2015-05-04
tags: release
permalink: false
title: 'Schaltkreis'
img_url: awsm-schaltkreis.gif
links: 
  - url: http://csdb.dk/release/?id=138254
    title: c64 (csdb)
  - url: https://youtu.be/qcQDrnoUpP0
    title: youtube
---

Just a small PETSCII screen that plays around with the fantastic tune from Eddie. I decided to release it as is, knowing that it would never become 100% as I wanted it to be. Some raster bars and sprites involved.