---
date: 2021-10-13
tags: release
permalink: false
title: 'Tinfoiloid'
img_url: tinfoiloid.png
links: 
  - url: https://csdb.dk/release/?id=210235
    title: c64 (csdb)
  - url: https://www.youtube.com/watch?v=KMlZia68h8g
    title: youtube
---

My little contribution to the deadline 2021 old school demo competition. I hadn't written any code since about a year and I'm glad I managed to put something together. Technically not impressive, but at least displaying 15 sprites using mutiplexing. The tune is by dalezy. The demo won 1st place.