---
date: 2017-02-25
tags: release
permalink: false
title: 'Trafolta by Mayday!'
img_url: trafolta.gif
links: 
  - url: http://csdb.dk/release/?id=153943
    title: c64 (csdb)
  - url: https://youtu.be/PqEv9yk-XEI
    title: youtube
---

"Trafolta" by Mayday! We scored first place at the BCC#11 party 2017! Just shortly after the massive X demo we went into battle again, wounded but alive and hungry :D