---
date: 2015-03-28
tags: release
permalink: false
title: 'Vision logo PETSCII'
img_url: awsm-visionlogo.gif
links: 
  - url: http://csdb.dk/release/?id=137383
    title: c64 (csdb)
---

My second PETSCII attempt. If you look long enough, you might notice that it resembles a postcard, with mountains in the back, the beach in the front and the logo being the hotels.