---
order: 17
tags: release
permalink: false
title: 'week in progress'
img_url: wip.gif
links: 
  - url: https://csdb.dk/release/?id=175483
    title: c64 (csdb)
  - url: https://www.youtube.com/watch?v=JMg4-ex5n9M
    title: youtube
---

Released at BCC#13 in February 2019. It scored 3rd place. I contributed many multicolor gfx and coded the title screen and the arrow part.