---
order: 18
tags: release
permalink: false
title: 'The White Rabbit'
img_url: whiterabbit.png
links: 
  - url: https://csdb.dk/release/?id=175515
    title: c64 (csdb)
  - url: ../static/prg/whiterabbit128.prg
    title: C128
---

Released at BCC#13 in February 2019. It won the graphics compo. I always wanted to create a dark "Alice in Wonderland" image and I'm quite happy how it turned out.