---
order: 10
tags: release
permalink: false
title: 'Zelda PETSCII Room'
img_url: awsm-zelda-petscii.png
links: 
  - url: http://csdb.dk/release/?id=149853
    title: c64 (csdb)
---

A Zelda-style room created in pure PETSCII. I wanted to turn this into a small game, but lost pace and motivation along the way. The usual. I'm quite pleased with how it turned out, however, so I released this screen at least.