---
order: 2
tags: bonusstuff
permalink: false
title: 'Commodore 1084S vector file'
img_url: 1084s_thumb.png
links: 
  - url: ../static/design/1084S/1084s_by_awsm.svg
    title: Download SVG file
---

I needed a 1084S image for my demo and couldn't find any on the web, so I made one. It is completely vector based and you can download and use it for free. Go ahead!