---
order: 4
tags: bonusstuff
permalink: false
title: 'Commodore vector labels'
img_url: commodore-labels.jpg
links: 
  - url: ../static/design/commodore-labels/labels.zip
    title: Download ZIP file
---

RetroPie is a great emulation machine based on the Raspberry Pi. It has full VICE support, but was missing labels for the Commodore VIC20, C16 and C128. So I made some. Feel free to use them.