---
order: 0
tags: bonusstuff
permalink: false
title: 'Vintage TV vector file'
img_url: tv-thumb.png
links: 
  - url: /static/design/tv/retro-tv-by-awsm.zip
    title: Download ZIP file
---

For my Ghost Town remake I decided to create a nice retro looking tv and I'm quite pleased how it turned out. You can grab the zip file containing vector and png files right here.