---
order: 3
tags: bonusstuff
permalink: false
title: 'MOS vector logo'
img_url: mos-logo.jpg
links: 
  - url: design/mos-logo/mos-logo.zip
    title: Download ZIP file
---

I wanted to have a nice shirt with the MOS TECHNOLOGY logo on it and couldn't find any high resolution or vector versions of it, so I made one. Feel free to use it. File contains PNG and SVG versions.