---
order: 1
tags: bonusstuff
permalink: false
title: 'Atari SM124 vector file'
img_url: atari-sm124-thumb.png
links: 
  - url: design/atari-sm124/atari-sm124-by-awsm.zip
    title: Download ZIP file
---

Here's something for the Atari fans: vector versions of the famous Atari SM124 and SC1224 monitors. The zip file contains a vector file, a Photoshop file with layers and png images to integrate with your browser demo.