:root {
  --main: #09efff;
  --text: #eeeeee;
}

html,
body {
  margin: 100px 0px 0px 0px;
  padding: 0;
  color: #666666;
  line-height: 160%;
  font-size: 105%;

  background: radial-gradient(
    circle,
    rgba(86, 196, 255, 0.23713235294117652) 0%,
    rgba(42, 4, 11, 0.1250875350140056) 100%
  );

  background-color: #1e3250;

  font-family: "Quicksand", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: yellow;
}

h1 {
  color: var(--main);
  text-align: center;
  font-weight: normal;
  margin-top: 0px;
  letter-spacing: 4px;
  line-height: 120%;
  margin-bottom: 10px;
  font-size: 240%;
  text-shadow: 0px 2px 0px rgba(0, 255, 255, 0.2),
    0px 4px 4px rgba(0, 0, 0, 0.5);
  font-family: "Sedgwick Ave Display", cursive;
}

h3 {
  text-align: center;
  color: var(--text);
  font-weight: normal;
  margin-top: 0px;
}

#container {
}

#footer {
  padding-top: 100px;
  font-style: italic;
  padding-bottom: 40px;
  text-align: center;
}

#navigation {
  z-index: 1001;
  position: fixed;
  top: 0;
  color: white;
  width: 100%;
  padding: 10px;
  margin-bottom: 100px;
  border: 1px solid #444444;
  background: #3863a0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0px 5px 20px 2px #111111;
  transition: top 0.8s;
}

#navigation a {
  margin: 10px;
  padding: 4px;
  color: white;
}

#navigation a:hover {
  color: black;
  background-color: white;
  border-radius: 8px;
}

#navigation img {
  padding-right: 20px;
  transition: transform 0.5s;
}

#navigation img:hover {
  transform: scale(1.4, 1);
}

#navigation .active {
  color: black;
  background-color: white;
  border-radius: 8px;
}

.button {
  color: white;
  border-radius: 8px;
  border: 2px solid var(--main);
  padding: 12px;
  margin: 24px 12px 12px 12px;
  display: inline-block;
  transition: transform 0.2s;
}

.button:hover {
  border: 2px solid white;
  background-color: white;
  color: black;
  transform: scale(1.1, 1.1);
}

.releases {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.release {
  max-width: 384px;
  padding: 20px;
  margin: 10px;
  border: 1px solid #444444;
  border-color: #666666 #222222 #111111 #222222;
  min-height: 510px;
  background-color: #333333;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  vertical-align: top;
  color: var(--text);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1),
    0px -1px 0px rgba(0, 0, 0, 0.5);
  line-height: 160%;
  border-radius: 12px;

  background: linear-gradient(
    172deg,
    rgba(114, 135, 147, 1) 0%,
    rgba(65, 78, 89, 1) 29%
  );

  transition: all 0.2s;
  transition-timing-function: ease;
  animation: 0.6s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateY(20%) scale(0.8, 0.8);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.release:hover {
  transform: scale(1.02, 1.02);
  box-shadow: 0px 10px 10px 4px rgba(6, 227, 194, 0.1);
  background: linear-gradient(
    172deg,
    rgba(128, 151, 164, 1) 0%,
    rgba(76, 91, 103, 1) 29%
  );
}

.release h1 {
  font-size: 200%;
  display: block;
  margin-bottom: 0px;
  color: #33eeff;
  letter-spacing: 2px;
  text-shadow: 0 1px 0 #777, 0 2px 0 #777, 0 0 5px rgba(0, 0, 0, 0.1),
    0 8px 2px rgba(0, 0, 0, 0.3);

  transform: translate(0px, -25px) rotate(-3deg);
  transition: all 0.2s;
}

.release:hover h1 {
  transform: scale(1.2, 1.2) translate(0px, -25px) rotate(-3deg);
  color: yellow;
}

.release .body {
  transform: rotate(-1deg);
}

.release img {
  border: 1px solid #888888;
  border-color: #111111 #333333 #666666 #333333;
}

.release .buttons {
  margin-top: 20px;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: space-between;
  flex-wrap: wrap;
}

.release .button {
  flex: 1;
  margin: 4px;
  border-radius: 8px;
  text-align: center;
  padding: 6px 23px 6px 23px;
  background-color: rgb(45, 50, 58);
  border-color: rgb(45, 50, 58);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 100%;
  transform: rotate(-2deg);
  transition: all 0.2s;
  z-index: 1;
}

.release .button:hover {
  color: black;
  transform: scale(1.2, 1.2) rotate(-2deg);
  background-color: white;
  border: 0px;
  z-index: 1000;
}

.infobox {
  background-color: rgba(30, 30, 30, 0.6);
  margin: auto;
  width: 60%;
  min-width: 400px;
  max-width: 900px;
  padding: 20px 20px 60px 20px;
  color: #eeeeee;
  border-radius: 16px;
  margin-bottom: 20px;
  box-shadow: 0px 5px 10px 2px #080808;
  border: 1px solid #444444;
  border-color: #666666 #222222 #111111 #222222;

  background: repeating-linear-gradient(
    -45deg,
    #1c1c1c,
    #1c1c1c 15px,
    #1f1f1f 15px,
    #1f1f1f 30px
  );
}

.infobox a {
  color: var(--main);
}

.roundbox {
  background-color: white;
  padding: 22px;
  border-radius: 12px;
  display: inline-block;
}

.articles {
  background-color: #eeeeee;
  margin: auto;
  margin-top: 12px;
  padding: 32px;
  border-radius: 8px;
  width: 60%;
  min-width: 400px;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
}

.articles .title {
  flex: 1;
  margin-right: 32px;
}

.articles .main {
  flex: 3;
  color: #111111;
}

.articles h2 {
  transform: rotate(-2deg);
  color: #222222;
  font-size: 160%;
  text-align: right;
  font-family: "Quicksand", sans-serif;
  margin: 0px;
}

.articles .date {
  transform: rotate(-2deg);
  color: #222222;
  font-size: 90%;
  text-align: right;
  font-family: "Quicksand", sans-serif;
}

.articles img {
  max-width: 100%;
  height: auto;
}

.navlink {
  color: black;
  margin: 12px 0px 0px 0px;
  padding: 8px 12px 8px 0px;
  border-radius: 8px;
  display: inline-block;
  transition: all 0.2s;
}

.navlink:hover {
  color: white;
  background-color: black;
  padding: 8px 12px 8px 12px;
}

#article {
  background-color: #eeeeee;
  margin: auto;
  margin-top: 32px;
  padding: 10%;
  border-radius: 8px;
  width: 60%;
  min-width: 400px;
  max-width: 900px;
}

#article h1 {
  color: #222222;
  text-shadow: none;
  font-size: 160%;
  text-align: left;
  font-family: "Quicksand", sans-serif;
  padding: 32px 0px 0px 0px;
}

#article .navbar {
  display: flex;
  justify-content: space-between;
}

#article img {
  max-width: 100%;
  height: auto;
}

.pagination {
  margin-top: 12px;
  display: flex;
  justify-content: center;
}

.pagination .page {
  background-color: #dddddd;
  color: black;
  padding: 8px 12px 8px 12px;
  border-radius: 8px;
  margin: 4px;
  transition: transform 0.2s;
}

.pagination #active {
  background-color: white;
  transform: scale(1.1, 1.1);
}

.pagination .page:hover {
  background-color: yellow;
  transform: scale(1.1, 1.1);
}
