---
order: 8
tags: collection
permalink: false
title: 'Commodore Amiga 500'
img_url: commodore-amiga-500.jpg
---

Almost everybody and his mom switched from the C64 to the Amiga 500 when it became cheap enough. I somehow never got attracted by it and switched to an Atari STE. Played lots of games with friend on it though.