---
order: 7
tags: collection
permalink: false
title: 'Commodore Amiga 1200'
img_url: commodore-amiga-1200.jpg
---

The Amiga 1200 is the premium edition and today quite expensive on eBay already. The hard drive is replaced by a CF card and a ACA1221 turbo card speeds up the computer. A perfect retro gaming machine.