---
order: 5
tags: collection
permalink: false
title: 'Atari 65XE'
img_url: atari-65-xe.jpg
---

I must say I always liked the design of Atari computers. The old ones (like the 800 XL) looked pretty 70s and the design with the skewed function keys looked pretty modern at that time.