---
order: 4
tags: collection
permalink: false
title: 'Atari 520 STM'
img_url: atari-520-stm.jpg
---

Besides turning it on to check if it's still alive I haven't done anything with this 520 STM yet. I have no external drive for it and it's pretty underpowered compared to the 1040 STE.