---
order: 3
tags: collection
permalink: false
title: 'Atari 1040 STE'
img_url: atari-1040-ste.jpg
---

Ahh, the wonderful, shiny Atari 1040 STE, the third computer I owned. I remember when it came out and everybody called it the Amiga killer (which it never became) because of the updated graphics capabilities.