---
order: 6
tags: collection
permalink: false
title: 'Atari 800XL'
img_url: atari-800-xl.jpg
---

An Atari 800 XL in pretty good condition, however, I lack almost any additional hardware for it and haven't been able to give this one a good test drive. It's on my to do list for sure...