---
order: 2
tags: collection
permalink: false
title: 'Atari Falcon 030'
img_url: atari-falcon-030.jpg
---

The Atari Falcon. Almost as cool as the Millenium Falcon, if not cooler even. The last home computer Atari made before it went bankrupt. A pretty capable machine, but too late to compete against the rising PCs.