---
order: 17
tags: collection
permalink: false
title: 'Commodore 116'
img_url: commodore-c116.jpg
---

The C116 was rare even back it came out. The tiny mainboard and case was supposed to rival the Sinclair ZX Spectrum, but with almost no room inside for modifications, it was too limited.