---
order: 10
tags: collection
permalink: false
title: 'Commodore 128'
img_url: commodore-c128.jpg
---

The Commodore 128 never was a great success as it was not good enough to compete against the upcoming Amiga and with the C64 included, most people didn't use it for much more than gaming.