---
order: 9
tags: collection
permalink: false
title: 'Commodore 128D'
img_url: commodore-c128d.jpg
---

This Commodore C128d (in plastic case) was my second computer. BASIC 7.0 was extremely powerful and made it easy for me to code my first little games and demos. All shitty, of course. I own a metal C128d, too.