---
order: 18
tags: collection
permalink: false
title: 'Commodore 16'
img_url: commodore-c16.jpg
---

My first computer. A special place in a kid's heart that no other computer can fill. The C16 came out after the very successful C64 and never had a chance on the market due to inferior hardware.