---
order: 14
tags: collection
permalink: false
title: 'Commodore 64 Acryl Mod'
img_url: commodore-c64-acryl.jpg
---

A special modified C64 C in a super stylish acrylic case. You can watch the chips working through the transparent top and it has a nice blue light inside. I love this machine.