---
order: 12
tags: collection
permalink: false
title: 'C64 Ron Gilbert Edition'
img_url: commodore-c64.jpg
---

One of my hobbies is case modding 64s that are in bad visual condition. This one is my favorite, it has a blue mettalic finish but most of all was signed by Ron Gilbert, the creator of Maniac Mansion and Monkey Island.