---
order: 13
tags: collection
permalink: false
title: 'Commodore 64C'
img_url: commodore-c64c.jpg
---

The "modern" design of the C64 which came out after the breadbin design. Later on, the C128 and the Amiga would follow that path. I remember I never liked it as a kid.