---
order: 16
tags: collection
permalink: false
title: 'Commodore Plus/4'
img_url: commodore-plus4.jpg
---

The Plus/4 was positioned as the business alternative to the C64, with a great BASIC 3.5, 64k and build in office software it was in a good position, but the 264 series lacked good software support.