---
order: 1
tags: collection
permalink: false
title: 'Sinclair ZX Spectrum'
img_url: sinclair-zx-spectrum.jpg
---

To be honest, the only thing I liked about the ZX Spectrum was its cute design. Nobody I knew as a kid had one and the games can't be compared to the C64 really. Still a great vintage computer.