---
order: 0
tags: collection
permalink: false
title: 'Texas Instruments TI-99/4A'
img_url: ti-99.jpg
---

Another computer I have never seen in the wild in Germany. With its unique silver design, it is something to look at and I would love to develop something for it when I find the time someday...