---
order: 15
tags: collection
permalink: false
title: 'Commodore VC20'
img_url: commodore-vc-20.jpg
---

In my view the VC-20 (or VIC-20 outside of Germany) is probably the most beautiful looking Commodore computer. The white body with the dark keyboard looks like a design classic. The basic version featured only 3.5KB of RAM.