---
layout: default
order: 1
tags: navigation
title: Blog
description: Custom Description
---

<h1>{{title}}</h1>

{%- for release in collections.release -%}
  <div class="release">
    <img src="../assets/img/releases/{{release.data.img_url}}">
    <h2>{{release.data.title}}</h2>
    <div class="body">
      {{ release.templateContent | safe }}
    </div>
    {%- for link in release.data.links -%}
      <button class="full">{{link.title}}
        {{link.url}}
      </button>
    {%- endfor -%}
  </div>
{%- endfor -%}