---
layout: default
order: 1
tags: navigation
title: Blog
pagination:
  data: collections.blog
  size: 6
  alias: articles
  reverse: true
---

<div class="infobox">
  <h1>Blog</h1>
  I generally write about retro computing, assembly programming, pixel art or just random gibberish.
</div>

<nav class="pagination" aria-labelledby="pagination">
  {%- for pageEntry in pagination.pages %}
    <a class="page" {% if page.url == pagination.hrefs[ loop.index0 ] %} id="active" aria-current="page" {% endif %} href="{{ pagination.hrefs[ loop.index0 ] }}">{{ loop.index }}</a>
  {%- endfor %}
</nav>

{%- for article in articles  -%}

  <div class="articles">
    <div class="title">
      {% if article.data.teaser %}
        <img src="/assets/img/blog/{{article.data.teaser}}">
      {% endif %}
    </div>
    <div class="main">
      <h2>{{ article.data.title}}
      </h2>
      <div class="date">{{ article.data.date.toDateString() }}
      </div>
      {% if article.data.excerpt %}
        {{article.data.excerpt}}
        <br/>
        <a class="navlink" href="{{article.url }}">continue reading... &#10095;&#10095;</a>
      {% else %}
        {{ article.templateContent | safe}}
      {% endif %}
    </div>
  </div>

{%- endfor -%}

<nav class="pagination" aria-labelledby="pagination">
  {%- for pageEntry in pagination.pages %}
    <a class="page" {% if page.url == pagination.hrefs[ loop.index0 ] %} id="active" aria-current="page" {% endif %} href="{{ pagination.hrefs[ loop.index0 ] }}">{{ loop.index }}</a>
  {%- endfor %}
</nav>