---
layout: default
order: 1
tags: navigation
title: Blog
---

{% set items_by_order = collections.blog | latest(60) %}
{%- for article in items_by_order -%}
  <a href="{{article.url }}">
    <div class="articles">
      <div class="title">
        <h2>"{{ article.data.title}}"
        </h2>
        <div class="date">{{ article.data.published}}</div>
      </div>
      <div class="main">
        {{ article.templateContent | safe}}
      </div>
    </div>
  </a>
{%- endfor -%}