---
layout: default
order: 5
tags: navigation
title: Full Of Sinus
---

<center>
  <img src="/assets/img/fullofsinus/fullofsinus.png" id="fullofsinus" width="40%" class="center">
</center>

<div class="infobox">
  <h1>My God, it's full of sinus!</h1>
  <p>This is a fake Commodore 64 demo completely created with JavaScript.</p>
  <p>
    awsm's biggest production yet, featuring 10 different screens with code & art made exclusively for this demo. Works best (and probably only) in a Chrome browser. If you can't get it to run on your machine, you can
    <a href="http://youtu.be/eqYCFaZjc9w">watch the video on youtube</a>. The demo is listed on
    <a href="http://www.pouet.net/prod.php?which=64954">pou&euml;t.net</a>.</p>
  <center>
    <a class="button" href="../static/fullofsinus/">Launch demo</a>
    <a class="button" href="http://youtu.be/eqYCFaZjc9w">watch on youtube</a>
  </center>
</div>

<div class="infobox">
  <img src="/assets/img/fullofsinus/award-browser.png"><img src="/assets/img/fullofsinus/award-newcomer.png">
  <br/><br/>
  <img src="/assets/img/fullofsinus/fos_01.jpg">
  <img src="/assets/img/fullofsinus/fos_02.jpg">
  <img src="/assets/img/fullofsinus/fos_03.jpg">
  <img src="/assets/img/fullofsinus/fos_04.jpg">
  <img src="/assets/img/fullofsinus/fos_05.jpg">
  <img src="/assets/img/fullofsinus/fos_06.jpg">
  <img src="/assets/img/fullofsinus/fos_07.jpg">
  <img src="/assets/img/fullofsinus/fos_08.jpg">
  <img src="/assets/img/fullofsinus/fos_09.jpg">
  <img src="/assets/img/fullofsinus/fos_10.jpg">
  <img src="/assets/img/fullofsinus/fos_11.jpg">
  <img src="/assets/img/fullofsinus/fos_12.jpg">
</div>