---
layout: default
order: 4
tags: navigation
title: Ghost Town
---

<div class="infobox">
  <h1>{{title}}</h1>
  <h3>This site is dedicated to my unhealthy relationship with the old Kingsoft game created by Udo Gertz.</h3>
</div>

<div class="infobox">

  <h1>Ghost Town JS</h1>
  <h3>A JavaScript remake of the Commodore C16 game.</h3>

  <p>
    Visit the mysterious Ghost Town, a place full of unexpected dangers and hidden treasures! Ghost Town JS is a JavaScript remake of the fantastic game written by Udo Gertz and released in 1985 for the Commodore C16, C116 & Plus/4. This remake is pixel perfect as it reads in the binary screen data from the original game. For more information and additional links, scroll down the page after launching the game. Have fun!<br/><br/>
  </p>
  <center>
    <a href="http://www.kingsoft.de">www.kingsoft.de</a>
  </center>

  <center>
    <a href="http://www.kingsoft.de/"><img src="../assets/img/ghosttown/ghosttown-tv.png" id="ghosttown" width="80%" class="center"></a>
    <br/>

    <img src="../assets/img/ghosttown/ghosttown_01.jpg">
    <img src="../assets/img/ghosttown/ghosttown_02.jpg">
    <img src="../assets/img/ghosttown/ghosttown_03.jpg">
    <img src="../assets/img/ghosttown/ghosttown_04.jpg">
    <img src="../assets/img/ghosttown/ghosttown_05.jpg">
    <img src="../assets/img/ghosttown/ghosttown_06.jpg">
    <img src="../assets/img/ghosttown/ghosttown_07.jpg">
    <img src="../assets/img/ghosttown/ghosttown_08.jpg">
    <img src="../assets/img/ghosttown/ghosttown_09.jpg">
    <img src="../assets/img/ghosttown/ghosttown_10.jpg">
    <img src="../assets/img/ghosttown/ghosttown_11.jpg">
    <img src="../assets/img/ghosttown/ghosttown_12.jpg">
  </center>
</div>