---
layout: default
order: 0
tags: navigation
title: Welcome
pagination:
  data: collections.blog
  size: 6
  alias: articles
  reverse: true
---

<div class="infobox" id="about">
  <h1>Welcome</h1>
  Hey! My name is Ingo and this site is mostly about my retro computing. I'm a member of the demo groups
  <b>Mayday!</b>
  and
  <b>Vision</b>
  and run by the handle
  <a href="http://csdb.dk/scener/?id=27239">awsm</a>. Thanks for stopping by and if you want to get in touch, message me on twitter:
  <a href="http://www.twitter.com/awsm9000">@awsm9000</a>.
</div>

{%- for article in articles | latest(3)  -%}
  <div class="articles">
    <div class="title">
      {% if article.data.teaser %}
        <img src="/assets/img/blog/{{article.data.teaser}}">
      {% endif %}
    </div>
    <div class="main">
      <h2>{{ article.data.title}}
      </h2>
      <div class="date">{{ article.data.date.toDateString() }}
      </div>
      {% if article.data.excerpt %}
        {{article.data.excerpt}}
        <br/>
        <a class="navlink" href="{{article.url }}">continue reading... &#10095;&#10095;</a>
      {% else %}
        {{ article.templateContent | safe}}
      {% endif %}
    </div>
  </div>
{%- endfor -%}

<div class="infobox">
  <h1>Latest Releases</h1>
  <div class="releases">
    {% set items_by_order = collections.release | latest(2) %}
    {%- for release in items_by_order -%}
      {% include "release.njk" %}
    {%- endfor -%}
  </div>
  <center>
    <a class="button" href="releases/">See all releases</a>
  </center>
</div>