---
layout: default
order: 3
tags: navigation
title: Spritemate
description: Custom Description
---

<div class="infobox">
  <center>
    <img src="../assets/img/spritemate/spritemate-logo.png">
    <p>A browser based sprite editor for the Commodore 64</p>
    <a href="https://www.spritemate.com/">Launch Spritemate</a>
  </center>
</div>

<div class="infobox" id="spritemate">

  <a href="https://www.spritemate.com/"><img src="../assets/img/spritemate/spritemate.jpg" width="100%" class="center"></a>
  <br/>

  <p>
    Spritemate is a browser based sprite editor for the Commodore 64. Create single- and multicolor sprites, draw using the C64 palette, create sprite overlays, import from SpritePad and save your work in various formats including assembly source! All data is processed on front end side, no back end is involved and you can use this tool offline. It's fun! It's free!<br/><br/>
    Documentation is available on Github:
    <a href="https://github.com/Esshahn/spritemate">Spritemate documentation</a><br/>
  </p>

</div>