---
order: 2
tags: cracktro
permalink: false
title: 'awsm (fake) Cracktro (2014)'
img_url: awsm.gif
links: 
  - url: ../static/js-cracktros/awsm/
    title: awsm Cracktro
---

My first attempt at writing my own fake cracktro. I like the scroller, but the starfield isn't looking as it should on a Commodore 64.