---
date: 2014-07-12
tags: cracktro
permalink: false
title: 'Dynamic Duo Cracktro (1986)'
img_url: dynamicduo.gif
links: 
  - url: /static/js-cracktros/dynamicduo/
    title: Dynamic Duo Cracktro
---

Even after 30 years I remember how I adored the color cycling effect in the logo and I needed to do a remake to fully understand it. However, this intro with the colored logo usually had no music.