---
date: 2014-07-08
tags: cracktro
permalink: false
title: 'Eaglesoft Cracktro (1987)'
img_url: eaglesoft.gif
links: 
  - url: ../static/js-cracktros/eaglesoft/
    title: Eaglesoft Cracktro
---

Probably the most iconic cracktro of the Commodore 64. Countless great productions coming from the US started with the eagle. Logically, this had to be my first JS conversion.