---
date: 2014-07-09
tags: cracktro
permalink: false
title: 'Fairlight Cracktro (1987)'
img_url: fairlight.gif
links: 
  - url: /static/js-cracktros/fairlight/
    title: Fairlight Cracktro
---

Another legendary intro. Technically not too impressive, but very fitting with this masterful SID tune.