---
order: 6
tags: cracktro
permalink: false
title: 'Hotline Cracktro (1987)'
img_url: hotline.gif
links: 
  - url: ../static/js-cracktros/hotline/
    title: Hotline Cracktro
---

What an epic cracktro by Hotline! With big moving logo and scroller, parallax effects and a hypnotic sound effect this one was quite tricky to convert.