---
date: 2014-07-11
tags: cracktro
permalink: false
title: 'Ikari Cracktro (1988)'
img_url: ikari.gif
links: 
  - url: /static/js-cracktros/ikari/
    title: Ikari Cracktro
---

A simple but great package from IKARI with a cool logo, nice color scrollers and an uplifting tune.