---
order: 7
tags: cracktro
permalink: false
title: 'Papillons Cracktro (1988)'
img_url: papillons.gif
links: 
  - url: ../static/js-cracktros/papillons/
    title: Papillons Cracktro
---

This cracktro left me speechless when I first saw it. It makes you think the Commodore 64 has far more than 16 colors. Add the masterful music and you have a piece of art that still impresses me today.