---
date: 2014-07-13
tags: cracktro
permalink: false
title: 'T.E.C. Industries Cracktro (1987)'
img_url: tec.gif
links: 
  - url: /static/js-cracktros/tec/
    title: T.E.C. Industries Cracktro
---

A very quick conversion of a simple cracktro that I mostly did because of the cool music.