---
date: 2016-12-18
tags: cracktro
permalink: false
title: 'Yeti Factories Cracktro (1987)'
img_url: yeti.gif
links: 
  - url: /static/js-cracktros/yeti/
    title: Yeti Factories Cracktro
---

Rasterbars, color cycling effects, a starfield, a big scroller and a tune from Forbidden Forest: the Yeti Factories cracktro is a powerful demonstration of the 64's capabilities.